/* https://codepen.io/FilipRastovic/pen/pXgqKK */
body {
    background-color: #1e1e1e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
}
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 5px 5px 5px ;
}
.settings-tray {
    background: #242529;
    padding: 10px 15px;
    border-radius: 7px 7px 0 0;
}
.settings-tray .no-gutters {
    padding: 0;
}
.settings-tray--right {
    float: right;
}
.settings-tray--right i {
    margin-top: 10px;
    font-size: 25px;
    color: gray;
    margin-left: 14px;
    transition: 0.3s;
}
.settings-tray--right i:hover {
    color: #242529;
    cursor: pointer;
}
.search-box {
    background: #fafafa;
    padding: 10px 13px;
}
.search-box .input-wrapper {
    background: #fff;
    border-radius: 40px;
}
.search-box .input-wrapper i {
    color: gray;
    margin-left: 7px;
    vertical-align: middle;
}
input {
    border: none;
    border-radius: 30px;
    width: 100%;
}
input::-moz-placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
}
input::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
}
input:focus {
    outline: none;
}
.friend-drawer {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #242529;
    transition: 0.3s ease;
}
.friend-drawer--grey {
    background: #242529;
}
.friend-drawer .text {
    margin-left: 12px;
    width: 70%;
    color: white;
}
.friend-drawer .text h6 {
    margin-top: 6px;
    margin-bottom: 0;
}
.friend-drawer .text p {
    margin: 0;
}
.friend-drawer .time {
    color: gray;
}
.friend-drawer--onhover:hover {
    background: #74b9ff;
    cursor: pointer;
}
.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
    color: #fff !important;
}
hr {
    margin: 5px auto;
    width: 60%;
}
.chat-bubble {
    padding: 10px 14px;
    background: #444654;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-bottom: 0;
    width: fit-content;
    color: white;
}
.chat-bubble:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 0;
    margin-top: -10px;
    color: white;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.offset-sm-3 .chat-bubble {
    background: #242529;
    color: #fff;
}
.chat-box-tray {
    background: #242529;
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    /* margin-top: 19px; */
    bottom: 0;
    padding: 1.25rem 0.5rem;
    border-radius: 0 0 7px 7px;
}
.chat-box-tray input {
    margin: 0 10px;
    padding: 0.5rem 1rem;
    background-color: #535561;
}
.chat-box-tray i {
    color: #60626e;
    font-size: 30px;
    vertical-align: middle;
}
.chat-box-tray i:last-of-type {
    margin-left: auto;
}


/* Custom Styles */
.chat-box-tray button {
    padding-right: 0;
}

.chat-body__wrapper {
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.chat-body {
    background: #343541;
    padding: 0;
    border-radius: 7px;
    width: 90%;
    margin: 1rem 0;
    height: 90dvh;
}

.chat-body > .no-gutters {
    margin: 0 !important;
}

.chat-body > div {
    height: 100%;
}

.chat-panel {
    margin-top: auto;
    overflow-y: auto;
    max-height: 75dvh;
}

.chat-panel > div:last-child {
    margin-bottom: 1rem !important;
}

.settings-tray__wrapper {
    display: flex;
    flex-direction: column;
}

input::placeholder {
    color: rgb(218, 218, 218);
    font-weight: 400;
}
input{
    color: rgb(218, 218, 218);
}

button {
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.row.no-gutters {
    margin: 1rem 0;
}

.row.no-gutters:last-child {
    margin-bottom: 0;
}

.message {
    display: grid;
    grid-template-columns: 50px auto;
    gap: 0.5rem;
    padding-right: 1rem;
}

.message__avatar {
    margin-top: 0.7rem;
}

.message__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transform: translateY(5px);
}

.chat-bubble--right > .message__list {
    align-items: flex-end;
}

.message__author-name {
    font-size: 0.875rem;
    color: #32DAB1;
    margin-bottom: 0;
    margin-left: 0.25rem;
}
.message__date-name {
    font-size: 0.875rem;
    color: #ccc;
    margin-bottom: 0;
    margin-left: 0.25rem;
}

.chat-bubble--left {
    margin-left: 1rem;
}

.chat-bubble--right {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: end;
}

@media (max-width: 500px) {
    .chat-body {
        height: calc(100dvh - 40px);
        margin: 20px 0.5rem;
    }
}

  * {
    animation: none !important;
    transition: none !important;
  }

  .refresh-button{
    border-radius: 25px;
    cursor: pointer;
    background-color: #10A37F;
    padding: 15px;
    color: white;
    margin-left: auto;
  }

  .sendButton {
    background-color: transparent;
  }