<div class="row no-gutters">
    <div class="col-sm-6">
        <div class="chat-bubble--left">
            <div class="message">
                <div class="message__avatar">
                    <img class="profile-image" src="./assets/chatPHP.png" />
                </div>
                <div class="message__list">
                    <p class="message__author-name"></p>
               <p class="chat-bubble"></p>
               <p class="message__date-name"></p>
                </div>
            </div>
        </div>
    </div>
</div>